
/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution {
     font-size: 11px;
     text-align: center; 
    }
.attribution a {
    color: hsl(228, 45%, 44%);
}