:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue:hsl(218, 22%, 67%);
}
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--grayish-blue);
 }

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
 }

 .header {
    width: 300px;
    height: 220px;
    background-color: white;
    padding: 20px;
    border-radius: 5px 5px 0 0;
 }

 .header h3 {
     color: var(--cyan);
     margin-bottom: 15px;
 }

 .header h4 {
     color: var(--bright-yellow);
     margin-bottom: 15px;
 }

 .header p {
     color: gray;
     font-size: 14px;
     line-height: 1.5;
 }

 .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.cta {
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: var(--light-gray);
}

 .about {
    padding: 20px;
    width: 300px;
    height: 200px;
    background-color: var(--light-gray);
    border-radius: 0 0 5px 5px;
 }
 

/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.attribution {
     font-size: 11px;
     text-align: center; 
    }
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .cta {
        border-radius: 0 0 0 5px;
    }

    .about {
        border-radius: 0 0 5px 0;
    }
}